<html>
	<head>
		<title>Login</title>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
		<link rel="stylesheet" href="view/css/login.css" />
	</head>
	<body>
		<div id="login" align="center" >
			<table align="center">
				<tr>
					<td id="userlabel">用户名</td>
					<td><input id="user" type="text" size="15" /></td>
				</tr>
				<tr align="center">
					<td id="passlabel">密&nbsp;&nbsp;&nbsp;码</td>
					<td> <input id="password" type="password" size="15" /></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td align="left"><input type="submit" id="submit" value="登录"/></td>
				</tr>
			</table>
		</div>
		
		<script type="text/javascript" language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
		<script type="text/javascript" language="javascript" src="view/js/login.js" />
	</body>
</html>
